<div class="bar bar-header bar-dark">
  <h1 class="title">Dotrand</h1>
</div>
<ion-content has-bouncing="false" ng-controller="authCtrl">
  <div id="img" style="background: url(img/background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:50vh;
    background-attachment:inherit">
  </div>
  <ion-nav-view class="login-page" name="loginPage"></ion-nav-view>
</ion-content>