<div style="width:60%;margin:50px auto 0 auto;">
  <form>
    <div style="font-weight:bolder;width:100%;text-align:center">Enter confirmation code sent to {{phoneSent}}. <a ng-click="resendCode()">Resend code.</a></div>
    <input style="border:1px solid #000;width:100%;padding:0 10px" ng-model="confirmationCode" type="tel" placeholder="Confirmation Code" maxlength="6" />
    <button class="button button-dark button-block button-positive" style="width: 100%;margin: 10px auto;" ng-click="confirmCode()">Next</button>
</form>
</div>
<div class="bar bar-footer bar-stable hide-on-keyboard-open">
  <a ng-href="#/auth/login" style="margin:auto;text-decoration:none;color:#444">
    Already have an account? <b>Log In</b>
  </a>
</div>
