<div style="width:60%;float:right" class="list">
  <label class="item item-input">
    <input type="text" placeholder="Full name" ng-model="username">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
</div>
<div style="width:40%;float:left;height:140px;background:url(img/add-image.png) no-repeat center center fixed">
</div>
<button class="button button-dark button-block button-positive" style="width: 50%;margin: 0 auto;" ng-click="signup()">
  Next
</button>